<div class="listContainer">
    <h1>Lista de Productos:</h1>
   <table class="productTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Categoria</th>
            <th>Precio</th>
            <th>Codigo</th>
            <th>Stock</th>
        </tr>
      {{#each productsArray}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.category}}</td>
                    <td>${{this.price}}</td>
                    <td>{{this.code}}</td>
                    <td>{{this.stock}}</td>
                </tr>
            {{/each}}
    </thead>
   </table> 

</div>

{{!-- <script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script> --}}